<div class="navi">
    <div class="toggle">
        <button class="btn" onclick="$('.navbar-content').show();">
            <i class="fas fa-bars"></i>
        </button>
    </div>
    <div class="navbar-content">
        <div class="toggle-close">
            <button class="btn" onclick="$('.navbar-content').hide();">
                <i class="fas fa-times"></i>
            </button>
        </div>
        <a href="{{site.url}}#home" class="navbar-link d-block">Home</a>
        <a href="{{site.url}}#products" class="navbar-link d-block">Products</a>
        <a href="{{site.url}}#contact" class="navbar-link d-block">Contact</a>
    </div>
</div>

<script>
    if ($(window).width() < 768) {
        $('.navbar-link').on('click', function () {
            $('.navbar-content').hide();
        })
    }
</script>