<div class="navi">
    <div class="toggle">
        <button class="btn" onclick="$('.navbar-content').show();">
            <i class="fas fa-bars"></i>
        </button>
    </div>
    <div class="navbar-content">
        <div class="toggle-close">
            <button class="btn" onclick="$('.navbar-content').hide();">
                <i class="fas fa-times"></i>
            </button>
        </div>

        <div class="navbar-link">
            <a>Home</a>
        </div>
        <div class="navbar-link">
            <a>Products</a>
        </div>
        <div class="navbar-link">
            <a>Contact</a>
        </div>
    </div>
</div>