body{
    font-family: 'Roboto', sans-serif;
}

h1, h2{
    font-family: 'Nunito', sans-serif;
}

p{
    margin: 0;
}

a{
    text-decoration: none;
}

footer{
    position: relative;
    color: white;
    a{
        color: white;
    }
}

.btn{
    color: white;
}

.text-red{
    color: red;
}

.copyright{
    color: #bbbbbb;
    position: absolute;
    bottom: 0;
}