body{
    font-family: 'Roboto', sans-serif;
}

h1, h2{
    font-family: 'Nunito', sans-serif;
}

p{
    margin: 0;
}

a{
    text-decoration: none;
}

footer{
    position: relative;
    color: white;
    a{
        color: white;
    }
}

.btn{
    color: white;
}

.text-red{
    color: red;
}

.copyright{
    color: #bbbbbb;
}

.cta-btn{
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    background-color: red;
    color: white;
    border-radius: 25px;
    font-size: 1.2em;
    text-decoration: none !important;
    &:hover{
        color: white;
    }
}

.cta-btn-alt{
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    background-color: #333;
    color: white;
    border-radius: 25px;
    font-size: 1.2em;
    text-decoration: none !important;
    &:hover{
        color: white;
    }
}

.box-shadow{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: hidden;
    width: 100%;
    img{
        min-width: 100%;
    }
}

.text-shadow{
    text-shadow: 2px 2px 4px #000000;
}

.cursor-pointer{
    cursor: pointer;
}

.max-height{
    height: 100%;
}

.slick-dots li.slick-active button:before, .slick-dots li button:before{
    color: white !important;
}