---
---

// start content
@import 'mixins/breakpoint';

@import 'global';
@import 'navbar';


@import 'mainBanner';
@import 'section';
@import 'toggle';

.light-gimmick{
    background-image: url('/assets/img/bright.jpg');
    background-size: cover;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: center;

    position: relative;

    .content{
        position: absolute;
        bottom: 0;
        left: 50%;
        white-space: nowrap;
        transform: translateX(-50%);

        padding-top: 3rem;
        padding-bottom: 3rem;
        background-color: rgba(0,0,0,0.5);
        width: 100%;
        text-align: center;

        color: white;
        h5{
            text-shadow: 2px 2px 4px #000000;
        }
    }
}

#more{
    i{
        color: red;
        text-shadow: 2px 2px 4px #000000;
        font-size: 3em;
    }
    .container{
        width: 90%;
        @include breakpoint(sm){
            width: initial;
        }
    }
    .col{
        width: 90%;
        margin: auto;
    }
    h5{
        text-shadow: 2px 2px 4px #000000;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
}

#contact{
    background-image: url('/assets/img/plain-red.jpg');
    background-position: center;
    background-repeat: none;
    background-size: cover;

    color: white;
    a{
        color: white;
    }
}