---
---

// start content
@import 'mixins/breakpoint';

@import 'global';
@import 'navbar';


@import 'mainBanner';
@import 'section';

.cta-btn{
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    background-color: red;
    color: white;
    border-radius: 25px;
    font-size: 1.2em;
    text-decoration: none !important;
    &:hover{
        color: white;
    }
}

.cta-btn-alt{
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    background-color: #333;
    color: white;
    border-radius: 25px;
    font-size: 1.2em;
    text-decoration: none !important;
    &:hover{
        color: white;
    }
}

.box-shadow{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: hidden;
    width: 100%;
    img{
        min-width: 100%;
    }
}

.cursor-pointer{
    cursor: pointer;
}

.max-height{
    height: 100%;
}

.fb-page,
.fb-page span,
.fb-page span iframe[style] {
    max-width: 100% !important;
}