<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% include scripts.html %}
    <title>{{site.title}}</title>
</head>

<body>
    {% include navbar.html %}
    <div>
        {{content}}
    </div>

    <div class="section-dark">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-4 text-center py-2">
                    <div><img width="100" src="{{ site.url }}/assets/img/3M.png" /><br/><p>Window Films</p></div>
                </div>
    
                <div class="col-12 col-sm-6 col-md-4 text-center py-2">
                    <a class="cta-btn hvr-buzz-out" href="https://api.whatsapp.com/send?phone={{site.phone}}">Contact</a>
                </div>
    
                <div class="col-12 col-sm-6 col-md-4 text-justify py-2">
                    <a href="{{site.url}}#home">Back to Top</a> <br/> 
                    <a href="{{site.url}}#more">More Info</a> <br/> 
                    <a href="{{site.url}}#products">Products</a> <br/>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(function () {
            $('a[href*="#"]:not([href="#"])').click(function () {
                if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
                    var target = $(this.hash);
                    target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                    if (target.length) {
                        $('html, body').animate({
                            scrollTop: target.offset().top
                        }, 1000);
                        return false;
                    }
                }
            });
        });
    </script>
</body>

</html>